<p><a href="<%= Routes.entries_path(@conn, :new) %>">Create a new entry</a></p>

<%= if length(@entries) > 0 do %>

<div class="entries list">
<%= for entry <- @entries do %>
  <article class="entry item">
    <%= render(SnaWeb.EntriesView, "show.html", conn: @conn, entry: entry) %>
  </article>
<% end %>
</div>

<% end %>

