<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= render_existing(@view_module, "meta/meta." <> @view_template, assigns) ||
        render_existing(@view_module, "meta/meta.html", assigns) ||
        render_existing(SnaWeb.LayoutView, "_meta.html", assigns) ||
        "" %>
    <title><%=
      [page_title(@conn, assigns), "Social Network Automation"]
        |> Enum.reject(&is_nil/1)
        |> Enum.join(" · ")
    %></title>
  </head>
  <body>
    <header>
      <nav role="logo">
        <a href="<%= Routes.page_path(@conn, :index) %>">SNA</a>
      </nav>
      <nav role="navigation">
        <ul>
          <li><a href="<%= Routes.entries_path(@conn, :index) %>">All Entries</a></li>
          <li><a href="<%= Routes.entries_path(@conn, :new) %>">New Entry</a></li>
        </ul>
      </nav>
      <nav role="login">
        <ul>
          <%=
          case current_user(@conn) do
            %{email: email} ->
            raw "<li>Authenticated as #{email} <a href=\"/auth/logout\">log-out</a></li>"
            _ ->
              raw "<li><a href=\"/auth\">Authenticate</a></li>"
          end
          %>
        </ul>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
